{{$interface := .Interface}}package {{.PackageName}}
{{if .SerDesMap}}
import (
	"errors"
)
{{range $suffix, $type := .SerDesMap}}
func serialize{{$suffix}}(input {{nonNilableType $type}}) (ser interface{}, err error) {
{{serializationCode $type}}
}
{{end}}{{end}}